<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="FrequenciesPath" value="/Users/kirpro/Documents/GitHub/Combinatorial-Algorithms/Archiver/Archiver/Examples/Frequencies.txt" />
        <add key="FirstExampleSourcePath" value="/Users/kirpro/Documents/GitHub/Combinatorial-Algorithms/Archiver/Archiver/Examples/Example1.txt" />
        <add key="SecondExampleSourcePath" value="/Users/kirpro/Documents/GitHub/Combinatorial-Algorithms/Archiver/Archiver/Examples/Example2.txt" />
        <add key="FirstExampleCompressedPath" value="/Users/kirpro/Documents/GitHub/Combinatorial-Algorithms/Archiver/Archiver/Examples/Example1.bin" />
        <add key="SecondExampleCompressedPath" value="/Users/kirpro/Documents/GitHub/Combinatorial-Algorithms/Archiver/Archiver/Examples/Example2.bin" />
        <add key="FirstExampleDecompressedPath" value="/Users/kirpro/Documents/GitHub/Combinatorial-Algorithms/Archiver/Archiver/Examples/Example1_unzip.txt" />
        <add key="SecondExampleDecompressedPath" value="/Users/kirpro/Documents/GitHub/Combinatorial-Algorithms/Archiver/Archiver/Examples/Example2_unzip.txt" />
    </appSettings>
</configuration>